/* Global */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

/* Navbar */
#main_logo {
  width: 100px;
}

/* Action Buttons */
.btn-success:hover {
  background-color: transparent;
  color: black;
}

.btn-secondary:hover {
  background-color: transparent;
  color: black;
}